<html lang="zh"
      layout:decorate="~{commons/layout.html}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${network.name} + ' - LinkMon Web'"></title>
</head>
<!--/*@thymesVar id="network" type="moe.msm.model.Network"*/-->
<body>
<section layout:fragment="content">
    <div>
        <header class="header-toolbar">
            <div class="header-text">
                <h1 th:text="${network.name} + '\'s Records'"></h1>
            </div>
        </header>
        <input hidden="hidden" id="uuid" th:value="${network.uuid.toString()}" type="text">
        <div id="chart">

        </div>
        <div id="down-log">
            <table class="u-full-width">
                <thead>
                <tr>
                    <th>Time</th>
                    <th>isUp</th>
                </tr>
                </thead>
                <tbody>
                <!--/*@thymesVar id="records" type="kotlin.collections.List<moe.msm.model.Record>"*/-->
                <!--/*@thymesVar id="record" type="moe.msm.model.Record"*/-->
                <tr th:each="record : ${records}">
                    <td th:text="${record.time.toString()}">...</td>
                    <td th:text="${record.isUp() ? 'yes':'no'}">...</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script>
        function prepData(packed) {
            let data = [
                Array(packed.length),
                Array(packed.length)
            ]

            for (let i = 0; i < packed.length; i++) {
                data[0][i] = new Date(packed[i].time).getTime() / 1000
                data[1][i] = packed[i].isUp ? packed[i].latency : 0
            }
            return data;
        }

        function makeChart(data) {
            const opts = {
                title: "Latency Graph",
                width: 960,
                height: 540,
                series: [
                    {},
                    {
                        label: "Latency",
                        scale: "ms",
                        value: (u, v) => v + "ms",
                        stroke: "red",
                        width: 1 / devicePixelRatio,
                    }
                ],
                axes: [
                    {},
                    {
                        scale: "ms",
                        values: (self, ticks) => ticks.map(rawValue => rawValue + "ms"),
                    },
                ]
            }
            let plot = new uPlot(opts, data, document.getElementById("chart"))
        }

        function loadData(size) {
            const uuid = document.getElementById('uuid').value
            fetch("/api/network/" + uuid + "/record?size=" + size).then(r => r.json()).then(packed => {
                let data = prepData(packed);
                setTimeout(() => makeChart(data), 0);
            });
        }

        window.onload = () => loadData(10000)
    </script>
</section>
</body>
</html>